---
title: The Schilling Point -- Archive
layout: post
---

<p class="special-line-spacing3">I write essays on topics loosely related to technological progress. Subscribe on <a href="https://www.theschillingpoint.com/subscribe">Substack</a> or <a href="#mc_embed_signup">here.</a></p>
{% for post in site.posts %}
<div class="post-preview">
 <img class="post-preview__left" src="{{ post.image }}" alt="{{ page.image_alt }}">
 <div class="post-preview__right">
   <!-- <h3><a class="preview-title" href="{{ post.url }}">{{ post.title }}</a></h3> -->
   <h3><a class="preview-title" href="{{ post.url }}">{{ post.title }}</a></h3>
   <div class="post-info">
      <span class="date-tag">{{ post.date | date: "%b %d, %Y" }}</span>
    </div>
   <!-- <p>{{ post.excerpt }}</p> -->
   <p class="special-line-spacing3">{{ post.content | markdownify | strip_html | truncatewords: 30 }}</p>

   <div class="tag-group">
     {% for tag in post.tags %}
       <div class="tag"><span class="tag-text">{{ tag }}</span></div>
     {% endfor %}
   </div>
 </div>
</div>
{% endfor %}