body {
  background-color: #ffffff;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 20px;
  margin-top: 100px;
}

p {
  font-size: 13px;
}


.enumeration {
  list-style-type: none;
  padding-left: 1em;
}

.enumeration li::before {
  content: "-";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media (min-width:200px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width:1000px) {
  body {
    margin-left: 50px;
    margin-right: 50px;
  }
}
