html {
  margin:    0 auto;
  max-width: 900px;
  margin-bottom: 40px;
}

body {
  background-color: #ffffff;
  font-family: 'EB Garamond', serif;
}

h1 {
  font-size: 30px;
  padding-top: 100px;
  font-weight: 600;
}

p {
  font-size: 18px;
}

li {
  font-size: 18px;
}


enumeration {
  list-style-type: none;
  padding-left: 3em;
}

enumeration li::before {
  content: "-";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}