:root {
  --header-color: #fff;
  --header-font-color: #2f2f2f;
  --body-color: #fff;
  --body-font-color: #000;
  --space-header: 0px;
}

.header-content {
  max-width: 700px;
  padding-bottom: 0px;
  margin-bottom: -30px;
}

.post-preview .p {
  font-size: 18px;
  font-family: 'Alice', serif;
  line-height: 1.3em;
}
