:root {
  --header-color: #fff;
  --header-font-color: #2f2f2f;
  --body-color: #fff;
  --body-font-color: #000;
  --space-header: 0px;
}

.header-content {
  max-width: 700px;
  padding-bottom: 0px;
  margin-bottom: -30px;
}

.post-preview .p {
  font-size: 20px;
  font-family: 'Alice', serif;
  line-height: 1.3em;
}

p {
  font-size: 18px;
  margin: 0px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 5px;
}

h3{ font-size: 20px;}

.date-tag {
  color: #777;
  font-size: 14px;
  padding-top: 10px;
}

p.special-line-spacing {
  padding-top: 20px;
}

.post-info{
  padding-top: 3px;
  padding-bottom: 7px;
  margin-left: 0px;
}

@media (max-width: 730px) {
  p.special-line-spacing {
    padding-left: 15px;
    padding-right: 10px;
  }

}