.header-content {
  max-width: 700px; /* Set maximum width for the content */
  margin: 0 auto; /* Center align the content */
  padding-top: 20px;
  padding-bottom: 20px;
}


.li-blog {
  font-size: 16px; /* Slightly smaller font size */
  font-family: 'Alice', serif;
  line-height: 1.5; /* Increased line height for better readability */
  color: #333; /* Dark gray color instead of black */
  font-weight: normal; /* Default font weight */
  padding-bottom: 5px; /* Adding padding for better spacing */
  text-align: justify;
}

.date-tag {
  color: #ccc;
  font-size: 14px;
}


p {
  font-size: 16px; /* Slightly smaller font size */
  font-family: 'Alice', serif;
  line-height: 1.5; /* Increased line height for better readability */
  color: #333; /* Dark gray color instead of black */
  font-weight: normal; /* Default font weight */
  padding-bottom: 5px; /* Adding padding for better spacing */
  text-align: justify;
  margin-left: 0px;
  margin-right: 0px;
}

h3 {
  font-size: 20px;
  line-height: 1.3em;
  font-family: 'Alice', serif;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
}


ul {
  padding-top: 5px;
  padding-bottom: 5px;
}

li {
  font-size: 16px; /* Slightly smaller font size */
  font-family: 'Alice', serif;
  line-height: 1.5; /* Increased line height for better readability */
  color: #333; /* Dark gray color instead of black */
  font-weight: normal; /* Default font weight */
  text-align: justify;
}

h3 {
  padding-bottom: 5px;
}

/* Table Styles */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Table Header */
.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Alternate row colors */
.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

p.header {
  color: var(--header-font-color);
}

p {
  color: var(--body-font-color);
}

a {
  color: var(--body-font-color);
  border-bottom: 1px rgba(34, 34, 34, 0.69);
  padding-bottom: 0;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s;
  display: inline;
}

a:hover {
  color: var(--body-font-color);
  border-bottom: 1px solid #000;
}


/* Flexbox Layout for Header and Main Content */
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* flex-start or space-between*/
  margin: 0;
  padding: 0;
}


.body-container .blog {
  background-color: #f7f7f7;
  max-width: 670px;
  margin: 0 auto; /* Center the body content */
  padding: 10px;
}



/* Media Query for Responsive Design */
@media (max-width: 767px) {
  .flex-container {
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 0;
  }

  .content {
    box-sizing: border-box;
    width: 100%;
  }

  .content:nth-child(1), .content:nth-child(2) {
    width: 100%; /* Adjust the second column size */
    min-width: 100%;
  } 

  .content:nth-child(2) .circular--square {
    display: block;
    margin: 0 auto;
  }

  .content:nth-child(2) {
    margin: 0 auto; /* Auto margin to push image to the right */
    margin: 0 15px;
    }
  
  .flex-container > div:nth-child(1) {
    order: 2;
  }
  
  .flex-container > div:nth-child(2) {
    order: 1;
  }

  .content:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1.pic {
    text-align: left;
  }
  
  p.pic,
  p,
  h1.pic, h1,
  .h2,
  .h3,
  .post-info {
    margin-left: 15px;
    margin-right: 15px;
  }

  .h1 {
    text-align: center;
  }

  .content {
    width: calc(50% - 10px); /* Adjust width for two columns */
    margin: 0 5px; /* Adjust margin for symmetry */
  }

  .p {
    padding: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* TABLET MODE */
  .h1 {
    text-align: left;
  }

  .content {
    width: calc(50%-5px);
    max-width: 600px;
    margin: 0 -15px;
  }


  .flex-container {
    gap: 0px;
    margin: 0 -5px;
  }
}
