<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jannik Schilling</title>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alice&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default2.css">
  <!-- Google Tag Manager script here -->
</head>
<body>
  <div class="container">
    <!-- Navigation -->
    <header>
      <div class="nav-bar">
        <h1>JANNIK SCHILLING</h1>
        <nav>
          <ul>
            <li>
              <a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">
                {% if page.url == '/' %}{ Home }{% else %}Home{% endif %}
              </a>
            </li>
            <li>
              <a href="{{ '/bookshelf/' | relative_url }}" class="{% if page.url == '/bookshelf/' %}active{% endif %}">
                {% if page.url == '/bookshelf/' %}{ Bookshelf }{% else %}Bookshelf{% endif %}
              </a>
            </li>
            <!--<li>
              <a href="{{ '/theoretical-physics/' | relative_url }}" class="{% if page.url == '/theoretical-physics/' %}active{% endif %}">
                {% if page.url == '/theoretical-physics/' %}{ Physics }{% else %}Physics{% endif %}
              </a>
            </li>-->
            <li>
              <a href="{{ '/writing/' | relative_url }}" class="{% if page.url == '/writing/' %}active{% endif %}">
                {% if page.url == '/writing/' %}{ Writing }{% else %}Writing{% endif %}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </nav>
      <!-- Header Section -->
      <!--<div class="header-content">
        <div class="profile-pic">
          <img class="profile-image" src="{{ site.baseurl }}/assets/img/jannik.jpg" alt="Jannik Schilling Profile Image">
        </div>
        <div class="intro-text">
          <h2>I HELP INVEST IN TECHNOLOGY COMPANIES AT THE FRONTIER.</h2>
          <ul class="social-links">
            <li><a href="https://www.x.com/jannikschg">Twitter</a></li>
            <li><a href="https://www.theschillingpoint.com/subscribe">Substack</a></li>
            <li><a href="mailto:janniklschilling@gmail.com">Email</a></li>
          </ul>
        </div>
      </div>
    </header> -->
    
    <!-- Main Content -->
    <main>
      <div class="text-content">
        {{ content }}
      </div>
    </main>

    <!-- Footer -->
    <footer>
      <p>&copy; 2024 Jannik Schilling. All rights reserved</p>
    </footer>
  </div>
</body>
</html>
