<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jannik Schilling</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alice&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default2.css">
  <!-- Google Tag Manager script here -->
</head>

<body>
  <div class="container">

    <main>
      <h1>Jannik Schilling</h1>
        <div class="text-content">
          {{ content }}
        </div>
      </main>


    <footer>
      <p>&copy; 2024 Jannik Schilling. All rights reserved</p>
    </footer>
  </div>
</body>
</html>