<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jannik Schilling</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alice&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default2.css">
  <!-- Google Tag Manager script here -->
</head>

<body>
  <div class="container">
    <header>
      <h1>JANNIK SCHILLING</h1>
      <nav>
        <ul>
          <li><a href="/bookshelf">Bookshelf</a></li>
          <li><a href="/theoretical-physics">Physics</a></li>
          <li><a href="https://www.theschillingpoint.com/subscribe">Writing</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="left-column">
        <img class="profile-image" src="{{ site.baseurl }}/assets/img/jannik.jpg" alt="Jannik Schilling Profile Image">
        <aside>
          <ul>
            <li><a href="https://www.x.com/jannikschg">TWITTER</a></li>
            <li><a href="https://www.theschillingpoint.com/subscribe">SUBSTACK</a></li>
            <li><a href="mailto:janniklschilling@gmail.com">EMAIL</a></li>
          </ul>
        </aside>
      </div>
      <div class="right-column">
        <h2>I HELP INVEST IN TECHNOLOGY COMPANIES AT THE FRONTIER.</h2>
        <div class="text-content">
          {{ content }}
        </div>
      </div>
    </main>

    <footer>
      <p>&copy; 2024 Jannik Schilling. All rights reserved</p>
    </footer>
  </div>
</body>
</html>